#root{
  background-color: #7c7c7d;
}
.App {
  color: white;

  background-color: #282c34;
  text-align: center;
    .App-header {
      background-color: #282c34;
      height: 10vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap:1em;
      align-items: center;
      justify-content: center;
      margin: 0 5%;
      font-size: calc(13px + (16 - 13) * ((100vw - 768px) / (1400 - 768)));
        img{width:20%;}
        h2{
        font-size: calc(14px + (14 - 20) * ((100vw - 320px) / (320 - 1400))); padding-left: 39%;
        }
    }
    main {
      background-color: #282c34;
      color:white;
      min-height: 50vh;
      margin:0.025em 0;
      outline:1px solid #9b9b9b;
      padding: 1%;

    }
    footer {
      background-color: #7a7b7d;
      color:rgb(252, 251, 251);
      outline:1px solid #e7e7e7;
    }
  }

