.DataGeneral{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
     > *:nth-child(odd) {
        /* outline: 2px solid red; */
        padding: 0 1.5%;
    }
    > *:nth-child(even) {
        /* outline: 2px solid red; */
        padding: 0 1.5%;
    }
}
pre{
    color:white;
}
.rightDiv{
    display: flex;
    textarea{
        width: 500px;
        height: 500px;
    
    }
}
.imgPreview{
    outline:2px solid white;
    padding:1%;
    position:relative;
    img{
    width:100%;
    }
    a{outline:2px solid rgb(6, 208, 194);
        padding:1em;
        &:hover{
            cursor:move
        }
    }
    .leftTop{left:0;top:0;}
    .absolute{position:absolute;}
    .mkt-image{margin:0 auto; width:100%;display:block;}
}
